DB_DIALECT=mysql
DB_HOST=localhost
DB_USER=foodtruck_user
DB_PASS=SUA_SENHA_SEGURA_AQUI
DB_NAME=sistema_pedidos
DB_PORT=3306

JWT_SECRET=chave_secreta_longa_aleatoria_minimo_32_caracteres
JWT_EXPIRES_IN=8h
NODE_ENV=development
PORT=3000
